.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    justify-content: center; /* Centrer les éléments verticalement */
    text-align: center; /* Centrer le texte */
}


.row {
    display: flex;
}

.project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
    background-color: transparent !important;
    max-width: 390px;
}

.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.card {
    border-radius: 20px !important;
    overflow: hidden;
}

.card-img-top {
    opacity: 0.8 !important;
    width: calc(100% - 40px);
    height: auto;
    border-radius: 20px !important;
    display: block;
    margin: 20px;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    color: #fff !important;
    background-color: #623686 !important;
    border-color: #623686 !important;
    text-decoration: none !important;
    padding: 6px 12px;
    border-radius: 10px;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #6d20c5d7 !important;
    border-color: #6d20c5d7 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.project-heading {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}