@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0) url('https://source.unsplash.com/1600x900/?stars,night') no-repeat center center;
  background-size: cover;
}

.fade-effect-top, .fade-effect-bottom {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .fade-effect-top {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, transparent 100%);
  }
  
  .fade-effect-bottom {
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
  }
