.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
.contact {
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(119, 53, 136, 0.3);
  
    h2 {
      font-size: 2rem;
      color: white;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
      background: rgba(24, 127, 206, 0.15);
      padding: 20px;
      border-radius: 10px;
      backdrop-filter: blur(10px);
  
      label {
        font-weight: bold;
        color: white;
        text-align: left;
        margin-bottom: 5px;
        font-size: 1rem;
      }
  
      input,
      textarea {
        font-family: "Raleway", serif !important;
        padding: 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        transition: 0.3s ease-in-out;
  
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
  
        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.3);
        }
      }
  
      textarea {
        resize: none;
        height: 120px;
      }
  
      button {
        background: #06131f;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          background: #5feef8;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px #5feef8;
        }
      }
    }
  }
  