.footer {
    background: #06131f;
    color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      p {
        font-size: 1rem;
        margin: 0;
        color: #bbb;
      }
    }
  }
  