.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  display: flex;
  justify-content: space-around;
}

.hero-content {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.hero-heading {
  font-size: 100px;
  padding-left: 50px;
  margin: 0;
}

.hero-name {
  font-size: 140px;
  padding-left: 45px;
  margin: 0;
}


.highlighted-name {
  color: #5feef8;
}

/* Animation du texte */
.Typewriter {
  &__wrapper {
    font-size: 2.9em;
    color: #5feef8;
    font-weight: 600;
    padding-left: 45px;
    margin-top: -10px;
  }

  &__cursor {
    font-size: 2.4em;
    color: #5feef8;
  }
}

/* Image du Hero */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  img {
    max-height: 450px;
    width: auto;
  }
}

/* Flèche animée pour scroller */
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

/* Responsive */
/* Responsive Tablette */
@media (max-width: 1024px) {
  .hero-heading {
    font-size: 70px;
    padding-left: 30px;
  }

  .hero-name {
    font-size: 100px;
    padding-left: 30px;
  }

  .Typewriter__wrapper {
    font-size: 2.2em;
    padding-left: 30px;
  }

  .hero-image img {
    max-height: 350px;
  }
}

/* Responsive Mobile */
@media (max-width: 767px) {
  .hero-section {
    height: auto;
    flex-direction: column;
    text-align: center;
    margin-top:200px;
  }

  .hero-content {
    padding: 5rem 0 1rem;
  }

  .hero-heading {
    font-size: 50px;
    padding-left: 0;
  }

  .hero-name {
    font-size: 70px;
    padding-left: 0;
  }

  .Typewriter__wrapper {
    font-size: 1.6em;
    padding-left: 0;
    margin-top: 0;
  }

  .hero-image {
    padding-top: 1em;
  }

  .hero-image img {
    max-height: 250px;
  }

  .scroll-down {
    position: sticky;
    margin-top: 60px;
    font-size: 50px;
  }
}

